body {
    background-color: black;
}

input {
    margin-top: 5rem;
    margin-left: 40rem;
    width: 300px;
    padding: 10px;
    display: block;
}

button {
    display: block;
    margin-left: 40rem;
    margin-top: 15px;
}