body {
    background-color: rgb(225, 230, 226);
}

form {
    width: 30rem;
    margin: 3rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.2);

}

input, textarea, select {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

select{
    width: 70px
}

button {
    display: block;
    margin-top: 15px;
    margin-left: 400px;
}

.form-control-inline {
    display: flex;
}

.form-control-inline input{
    width: auto;
    margin-right: 0.5rem;

}