body{
    margin: 30px;
    
}

h1 {
    color: rgb(83, 4, 186);
    font-size: 50px;
    text-align: center;
   
}

h2{
    margin: 100px;
    color: white;
}


img{
    width: 300px;
    margin-left: 567px;
    
}

p {
    margin-left: 100px;
    color: white;
}

li {
    margin-left: 10px;
    color: yellow;
}


#FirstList {
    margin-left: 10px;

}

ul {
    border: 5px solid rgb(103, 6, 176);
    background-color: rgb(103, 6, 176);
    border-radius: 50px;
}

#HTwo {
     margin-bottom: 50px;
}

#listP {
    color: yellow
}