body{
    margin: 30px;
    
}

h1 {
    color: rgb(83, 4, 186);
    font-size: 50px;
    text-align: center;
    font-family: 'Roboto mono', sans-serif;
    font-style: bold;
   
}

h2{
    margin: 100px;
    color: white;
    font-family: 'Roboto mono', sans-serif;
    font-style: bold;
}


img{
    width: 300px;
    margin-left: 567px;
    
}

p {
    margin-left: 100px;
    color: white;
    font-family: 'Roboto mono', sans-serif;
}

li {
    margin-left: 10px;
    color: yellow;
}


#FirstList {
    margin-left: 10px;

}

ul {
    border: 5px solid rgb(103, 6, 176);
    background-color: rgb(103, 6, 176);
    border-radius: 50px;
    list-style: square;
}

#HTwo {
     margin-bottom: 50px;
}

#listP {
    color: yellow
}

#company {
    color: black;
}

footer {
    text-align: center;
}



a {
    color: black;
    background: rgb(217, 199, 115);
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    
} 

#pdfLink {
    font-size: 35px;
}

a:hover {
    background-color: rgb(199, 181, 95);
}