body {
    font-family: "Quicksand", sans-serif;
    margin: 0px;
    text-align: center;
  
    
}

header {
    display: flex;
    flex-direction: row;
    flex-flow:  nowrap;
    justify-content: space-between;
    padding: 15px, 16px;
    position: absolute;
    width: 100%;
    
}

header ul {

    display: flex;
    list-style: none;
    

}

Header li {
    margin-left: 20px;

}

#hero {
    height: 700px;
    background-image: url("/siteNoThree/Images/Pics/websitePic.png");
    background-size: cover;
   
    
}

#hero-content {
    width: 500px;
    background-color: rgb(51, 47, 47, 0.8);
    box-shadow: 2px, 4px, 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    position: relative;
    top: 200px;
}

#hero-content h1 {
    font-family:'Ralway', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    margin-top: 10px;
}


#hero-content a {
    font-size: 30px;
    font-family:'Ralway', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color:blue;
    text-decoration: none;
    border: 10px;
    background-color:white;
    padding: 5px;
    border-radius: 3px;
   
}




#page-logo a{
    padding: 10px;
    font-family: "Oleo script", sans-serif;
    color: rgb(245, 243, 160);
    text-decoration: none;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    margin-left: 27px;
    
}

#info-link {
    color: white;
    margin-right: 50px;
    border: 5px blue;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

#info-link:hover {
    background-color: white;
    color: blue;
}

#highlights ul {
   list-style: none;
}

#destinations {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}

.destination {
    margin: 0 20px;
}

.destination img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px, 4px, 8px rgb(64, 67, 67);
  object-fit: contain;
}

