
h1{
    font-family: 'Oswald', sans-serif;
    color: #534b4b;
    margin: 12px 0;
    

}

p{
    font-family: 'Fira-sans', sans-serif; 
    color: #534b4b
    
}


#todays-challenge {
    color: rgb(170, 96, 83);
    font-weight: bold;
    font-size: 52px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

body {
    text-align: center;
    background-color: rgb(250, 187, 187);
    margin: 50px;
}

ol {
    list-style: none;
    width: 500px;
    margin: 36px auto 0 auto;
    padding: 0;
}

li {

    padding: 16px;
    background-color: rgb(223, 136, 124);
    border-radius: 6px;
    margin: 32px;
}

a{
    padding: 12px 48px;
    background-color: rgb(161, 1, 78);
    color: white;
    border-radius: 4px;
    border: 1px solid rgb(161, 1, 78);
    font-family: 24px;
    text-decoration: none;

}

a:hover{


    background-color: rgb(180, 12, 90);
    text-decoration: none;
    
}

h2 {
    color: rgb(64, 20, 0);
    font-family: 'Oswald', sans-serif;
}

#listP {

    margin: 12px;
    color: rgb(64, 20, 0);
    font-size: 25px;
}